*{
    --main-bg-color: #b6b6b6;
    --secondary-bg-color:#ffffff50;
    --accent-color: #f9fc50;
    --success-color: #28a7464b;
    --error-color: #dc35464b;
}

body{
    background: #000;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color:#000;
}

.outer-radius{
    background: var(--main-bg-color);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-wrapper{
    max-width:500px;
}

.quiz-header{
    background:#fff;
    padding:30px;
    margin-bottom:20px;
}

h4, p{
    margin-bottom: 0;
    font-weight: 600;
}

.header-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#fff;
    font-size:20px;
    margin-bottom:10px;
}

.progress{
    margin-bottom:20px;
    background: var(--secondary-bg-color);
    border-radius: 20px;
}
.progress-bar{
    background:#fff;
}

.counter{
    padding:2px 10px;
    border:2px solid;
    color:#ffffff50
}

.current-count{
    color:#fff;
}

.answer {
    background: var(--secondary-bg-color);
    padding:20px 30px;
    cursor: pointer;
    transition: background-color 200ms;
}

.answer:hover{
    background:#fff;
}

.next-btn{
    background: #000;
    color: var(--accent-color);
    padding:20px;
    margin-top:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 200ms;
    width:100%;
    border:none;
}

.next-btn:disabled{
    opacity: .5;
}

.next-btn:hover{
    background: var(--accent-color);
    color: #000;
}

.next-btn:disabled:hover{
    background: #000;
    color: var(--accent-color);
}

.bi-arrow-right-short{
    height:32px;
}


.br-25{
    border-radius:25px;
}

.acc-clr{
    color: var(--accent-color);
}

.selected{
    background: #fff;
}

.success, .success:hover{
    background:var(--accent-color)
}


.error, .error:hover{
    background: #000;
    color: var(--accent-color);
}


.quiz-wrapper {
    position: relative;
}

.completion-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    display: none; /* Hide by default */
    z-index: 1000; /* Ensure it appears above other elements */
}

.blur {
    filter: blur(20px);
    pointer-events: none; /* Disable interaction */
}

.completion-message{
    border:none;
    border-radius:25px;
    padding:30px;
}
